@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #026c9f; */
  text-decoration: inherit;
  color: black;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border: none;
  border-radius: 25px;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(135deg, #0ba7b7, #026c9f);
  cursor: pointer;

  color: white;
  transition: all ease 0.2s;
  /* margin: 0 auto; */
}
.button:hover {
}

.button:active {
  background: black;
  transform: scale(0.8);
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

li {
  list-style-type: none;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
